.image-container {
  position: relative;
  display: inline-block;
}

.overlay-box {
  position: absolute;
  top:43%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 18%;
  background-color: white;
  z-index: 1;
  border-radius: 50px;
}

.image {
  display: block;
  z-index: 0;
}

.text-inside-box {
  color: black; 
  padding: 2rem;
  font-size: 30px;
  font-weight: bold; 
  text-align: center;
}