.nav-link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.nav-menu-right,
.nav-menu-left {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  list-style: none;
}

.nav-container {
  display: flex;
}

.nav-menu-left {
margin-right: auto;
}

.nav-container li {
  margin-right: 1rem;
}
